body {
	background: url(../images/app/applogin/login-bg.gif) repeat;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 auto;
	font-size: 14px;
	font-family: "ו";
}

div {
	margin: 0 auto;
	padding: 0 auto;
}

ul {
	margin: 0px;
	list-style: none;
	padding: 0px;
}

ol {
	margin: 0px;
	list-style: none;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #444444;
}

img {
	border: none;
}

span {
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

img {
	margin: 0;
	padding: 0;
}

.login-box {
	width: 700px;
	height: auto;
	text-align: center;
}

.login-name {
	margin-top: 170px;
	margin-bottom: 15px;
}

.login-name img {
	width: 287px;
	height: 38px;
	overflow: hidden;
}

.login-middle {
	width: 700px;
	height: 268px;
}

.login-left {
	background: url(../images/app/applogin/login-left.gif) no-repeat;
	width: 283px;
	height: 268px;
	float: left;
}

.login-right {
	background: url(../images/app/applogin/login-right.gif) no-repeat;
	width: 417px;
	height: 268px;
	text-align: center;
	float: left;
}

.login-in {
	width: 265px;
	height: 220px;
	margin: 24px auto;
	text-align: left;
	margin-left: 30px;
}

.login-list {
	margin: 15px 10px;
}

.login-list span {
	color: #13588a;
	vertical-align: middle;
}

.login-input01 {
	border: #13588a solid 1px;
	height: 18px;
	padding: 3px;
	line-height: 18px;
	width: 165px;
	vertical-align: middle;
}

.login-code {
	width: 80px;
}

.login-img a {
	margin-left: 8px;
}

.login-img a img {
	vertical-align: middle;
}

.login-select {
	width: auto;
	height: auto;
	margin-left: 75px;
}

.login-select input {
	vertical-align: middle;
}

.login-btn {
	width: auto;
	text-align: center;
}

.login-on {
	background: url(../images/app/applogin/ico.gif) no-repeat -6px -676px;
	width: 79px;
	height: 26px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 26px;
	border: none;
}

.login-foot {
	background: url(../images/app/applogin/login-foot.gif) no-repeat;
	width: 700px;
	overflow: hidden;
	height: 111px;
	text-align: center;
	line-height: 50px;
}

.login-foot span {
	margin: auto 5px;
	color: #FFFFFF;
	font-size: 12px;
}